[[source]]
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[packages]
#flask = "*"
#certifi = "*"
youtube_dl = "*"
#ffmpeg = "*"
python-telegram-bot = "*"
validators = "*"

[requires]
python_version = "3.7"
